div.dayslist {
    width: 200px;
    font-family: sans-serif;
    color: #333;
}
    .dayslist table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
    }

    .dayslist tbody tr {
        cursor: pointer;
    }

        .dayslist tbody tr.total, .dayslist tbody tr.selected {
            cursor: default;
        }

    .dayslist th {
        background-color: #eee;
        font-variant:small-caps;
        padding: 1px 4px;
        border-bottom: 1px solid black;
    }

        .dayslist thead th {
            text-align: center;
        }

        .dayslist tbody th {
            text-align: left;
        }

    .dayslist td {
        border: 1px solid black;
        text-align: right;
    }

    .dayslist .total {
    }

        .dayslist .total th {
            font-weight: bold;
            background-color: #ddd;
        }

        .dayslist .total td {
            font-weight: bold;
            background-color: #eee;
        }

    .dayslist .in-the-black {
        color: green;
    }

    .dayslist .in-the-red {
        color: red;
    }

    .dayslist tbody .selected th, .dayslist tbody .selected td {
        color: black;
        background-color: cornflowerblue;
    }


div.timegrid {
	width: 300px;
	font-family: sans-serif;
	color: #333;
}

	.timegrid table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid black;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
	}

	.timegrid th {
		background-color: #eee;
		font-variant:small-caps;
		padding: 1px 4px;
	}
		
		.timegrid thead th {
			text-align: center;
			border-left-color: black;
		}
		
		.timegrid tbody th {
			text-align: right;
			width: 4.2em;
		}
	
	.timegrid th, .timegrid td {
		border: 1px solid black;
	}
	
	.timegrid td {
		position: relative;
	}

		.timegrid .small-ticks {
			position: absolute;
			height: 60%;
			bottom: 0;
		
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
		}
	
		.timegrid .large-ticks {
			position: absolute;
			height: 100%;
			bottom: 0;
		
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}
	
		.timegrid .ticks-1 {
			left: 8.333%;
			right: 8.333%;
		}
	
		.timegrid .ticks-2 {
			left: 16.667%;
			right: 16.667%;
		}
	
		.timegrid .ticks-3 {
			left: 25%;
			right: 25%;
		}
	
		.timegrid .ticks-4 {
			left: 33.333%;
			right: 33.333%;
		}
	
		.timegrid .ticks-5 {
			left: 41.667%;
			right: 41.667%;
		}
	
		.timegrid .ticks-middle {
			left: 50%;
			width: 1px;
			border-right-style: none;
		}
	
		.timegrid .time-bar {
			position: absolute;
			top: 0;
			bottom: 0;
            left: 0;
            right: 0;
			opacity: .7;
			border-width: 1px;
			border-style: solid none;

            color: black;
            text-align: center;
            font-weight: bold;
            font-size: 80%;
            line-height: 150%;
            overflow: hidden;
            text-overflow: ellipsis;
		}
	
			.timegrid .start {
				border-left-style: solid;
				border-top-left-radius: .5em;
				border-bottom-left-radius: .5em;
			}
	
			.timegrid .end {
				border-right-style: solid;
				border-top-right-radius: .5em;
				border-bottom-right-radius: .5em;
			}
			
div.timelist {
	width: 300px;
	font-family: sans-serif;
	color: black;
}

	.timelist .timeentry {
		border: 1px solid black;
		border-radius: .4em;
		padding: .2em .4em;
		margin: 0 0 .1em 0;
	}
	
		.timelist .timeentry span.key {
			font-weight: bold;
			padding-right: .2em;
			font-size: 80%;
		}
	
		.timelist .timeentry span.note {
			font-size: 80%;
		}
		
		.timelist .timeentry input.key {
			font-weight: bold;
		}
	
		.timelist .timeentry textarea.note {
			width: 100%;
		}


div.dayslist {
    float: left;
}

div.timegrid {
	float: left;
    margin-left: .5em;
}

div.timelist {
	float: left;
	margin-left: .5em;
}