<div>
    <div data-dojo-attach-point="_daysInWeekList" data-dojo-type="mytime/widget/DaysInWeekList"></div>

    <div data-dojo-attach-point="_dailyTimeWidget" data-dojo-type="mytime/DailyTimeWidget"
         data-dojo-props="date: '2010-10-10'"></div>

    <div class="timelist">
        <div class="timeentry" style="background-color: #55f">
            <span class="key">CAYENNE-2345</span>
            <span class="note">Integrated the new time-keeping feature (with Ben Gierolini)</span>
        </div>
        <div class="timeentry" style="background-color: #f55">
            <span class="key">VINT</span>
            <span class="note">Weekly status meeting</span>
        </div>
        <div class="timeentry" style="background-color: #0b0">
            <input type="text" class="key" value="LF-892"/>
            <textarea class="note">Meet up for a Whitesox game in order to settle the score.</textarea>
        </div>
    </div>
</div>