<div class="timeentry edit<%= selected ? ' selected' : '' %>" data-timeentry-id="<%= timeEntryId %>" data-task-id="<%= taskId %>"
     style="background-color: <%= Colors.base(color) %>; background: linear-gradient(to bottom right, <%=
     Colors.light(color) %>, <%= Colors.shadow(color) %>)">
    <span class="task"></span>
    <span class="note"><textarea data-dojo-type="dijit/form/Textarea"><%= text %></textarea></span>
    <% if (jiraLoggable) { %>
    <a class="jira-create-worklog" target="_blank"
       href="https://jira.vodori.com/secure/CreateWorklog!default.jspa?key=<%= code %>&timeLogged=<%= duration %>h&timeEntyId=<%= timeEntryId %>&comment=<%= text %>">JIRA</a>
    <% } %>
</div>