<div class="timeentry<%- selected ? ' selected' : '' %>" data-timeentry-id="<%- timeEntryId %>" data-task-id="<%- taskId %>"
     style="background-color: <%- Colors.base(color) %>; background: linear-gradient(to bottom right, <%-
     Colors.light(color) %>, <%- Colors.shadow(color) %>)">
    <span class="task">
        <span class="code"><%- code %></span>
        <span class="name"><%- name %></span>
    </span>
    <span class="note"><%- text %></span>
    <span class="bottom-right">
        <% if (taskId) { %>
         <span class="duration"><%- duration %> hrs</span>
        <a class="menu-button" href="javascript:void(0);"><img src="./images/cog.png"/></a>
        <% } %>
        <% if (jiraLoggingUrl) { %>
        <a class="jira-create-worklog" target="_blank" href="<%= jiraLoggingUrl %>">
            <img src="images/jira-icon.png"><span class="check">&#x2713;</span>
        </a>
        <% } %>
    </span>
</div>
